.screen-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-text{
    color: solid rgb(75, 255, 75);
    animation: colorChange 1s infinite alternate;
}

@keyframes colorChange {
  0% {
    color: rgb(75, 255, 75);
  }
  100% {
    color: rgba(75, 255, 75, 0.379);
  }
}