// VARIABLES
$primary-colour: rgb(75, 255, 75);
$secondary-colour: rgba(75, 255, 75, 0.4);
$background-colour: rgb(20, 20, 20);

//GENERICS
.main-menu-title {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  flex: 1;
}
.options {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1%;
  .option {
    flex: 1;
    display: flex;
    gap: 2%;
    align-items: center;
    :hover {
      text-decoration: underline;
    }
    cursor: pointer;
    .option-info {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}
ul {
  li {
  }
}
.icon {
  height: 20px;
  filter: brightness(0) saturate(100%) invert(93%) sepia(95%) saturate(3930%)
    hue-rotate(49deg) brightness(111%) contrast(101%);
}

// SCREEN STRUCTURE
.screen-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-colour;
  .left-column {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .left-upper {
      height: 100%;
    }
    .left-lower {
      height: 100%;
      padding: 5%;
      .load-game-container {
        height: 100%;
        border: 1px solid $primary-colour;
        padding: 2.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .load-button-container {
          display: flex;
          justify-content: end;
          .load-button {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .right-column {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    padding-bottom: 4%;
    justify-content: space-between;
    .start-button-container {
      display: flex;
      justify-content: end;
      .start-button {
        font-size: 1rem;
      }
    }
  }
}
